* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a {
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
img {
    max-width: 100%;    
   
}
body {
    margin-bottom: 100px;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;

}
.menu li {
    margin-left: 20px;
}
.menu li a {
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 25px;
}

/*Section 1 Flexbox*/
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
    text-align: center; 
      
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}


/*Section GRID 1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 colunas, 1fr cada +- 33%*/
    max-width: 800px; /*tamanho max do container*/
    padding: 10px;
    margin: 0 auto; /*centraliza os elementos do container*/
    gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    

}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid1 > div:nth-child(n + 4) {
        display: block;
    }
    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}


/*Section GRID 2*/

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    max-width: 980px;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}
.sidebar > div {
    margin-bottom: 10px;
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}
.sidebar div p {
    font-size: 18px;
}

@media (max-width: 500px) {
    .grid2 {
        grid-template-columns: 1fr;
        margin: 20px;
        
    }
    .sidebar {
        display: flex;
        gap: 10px;
    }
    .sidebar div p {
        font-size: 13px;
    }
}